node_modules
vendor
.gitignore
.env 
.env_production
composer.lock
package-lock.json
bootstrap/log
bootstrap/cache
olaogun.test+3.pem
olaogun.test+3-key.pem
vapid_private.pem
vapid_public.pem
generateVapidKeys.js
phpstan.neon 
private_key.pem
public_key.pem
server.key
server.cert
.php-cs-fixer.cache
psalm
resources/views/layouts/achive
resources/images
public/img
public/js
olaogun.test-key.pem
olaogun.test.pem 




server.crt
localhost-key.pem
localhost.pem
*.pem
mysql.session.sql
.agents/
scratch.php
test.drawio
mysql.session.sql
.agents/
scratch.php
test.drawio
