# Remove the question mark from the request but maintain the query string
RewriteEngine On
#   RewriteBase /

#if requested file is not a real file
RewriteCond %{REQUEST_FILENAME} !-f

#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteCond %{REQUEST_FILENAME} !-1

#rewrite rule - redirect to index.php
RewriteRule . index.php [L]

# Allow access to the public folder
RewriteRule ^public/ - [L]

# Remove the question mark from the request but maintain the query string
RewriteCond %{THE_REQUEST} \?(.*)\ HTTP/
RewriteRule ^(.*)$ /$1?%1 [L,R=301]


<IfModule mod_headers.c>
  Header set X-Frame-Options "deny"
  Header set X-XSS-Protection "1; mode=block"
  Header set Strict-Transport-Security "max-age=31536000"
  Header set X-Content-Type-Options "nosniff"
  # Header set Content-Security-Policy "default-src 'none'; script-src 'self' https://fontawesome.com/ https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js; connect-src 'self'; img-src 'self'; style-src 'self' https://fonts.bunny.net https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css;"
  # Header set Referrer-Policy "strict-origin-when-cross-origin"
  Header set Expect-CT "max-age=7776000, enforce"
</IfModule>



<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType text/x-javascript "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresDefault "access plus 2 days"
</IfModule>

