* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.7;
    color: #818181;
    padding: 30px;
}

.avatar {
    vertical-align: middle;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

p {
    line-height: 1.75;
}

a {
    color: #fed136;
}

a:hover {
    color: #fec503;
}

.jumbotron {
    font-family: Montserrat, sans-serif;
}

.navbar {
    font-family: Montserrat, sans-serif;
}

.jumbotron {
    background-color: #f4511e;
    color: #ffffff;
    padding: 10rem 2.5rem;
}

.container-fluid {
    padding: 6rem 5rem;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo {
    font-size: 20rem;
    color: #f4511e;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 2.5rem 0;
    }
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.panel {
    border: 1px solid #f4511e;
    border-radius: 0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px #a12121;
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    font-size: 14px;
    color: #aaa;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 0.4rem;
    border-radius: 0;
}

.navbar li a .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #f4511e;
}

.footerLogo {
    font-size: 2rem;
}

.small {
    color: blue;
}

.allMember_card {
    display: flex;
}

.postMessage_uploadPics {
    display: flex;
    background-color: "red";
}

.styleForm {
    margin-left: 20%;
    margin-right: 20%;
}

.small {
    font-size: 0.6rem;
    font-style: italic;
    color: #a7092b;
}

.error {
    color: red;
    font-size: 1rem;
}

input::-moz-placeholder {
    font-size: 0.7rem;
    text-transform: uppercase;
}

input:-ms-input-placeholder {
    font-size: 0.7rem;
    text-transform: uppercase;
}

input::placeholder {
    font-size: 0.7rem;
    text-transform: uppercase;
}

.modal-content {
    padding: 0 20px 0 20px;
}

#postMessage_uploadPics {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-file-container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.subscribeForm {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

header.masthead {
    text-align: center;
    color: white;
    background-image: url("/img/indexpics.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.opo:hover {
    color: white;
}

.rowo {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    font-size: 4rem;
}

header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    color: #fec503;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}


/* changed the paddings to 0 from 25 to reduce the height of the navbar */

@media (min-width: 992px) {
    .mainNav {
        padding-top: 0px;
        padding-bottom: 0px;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }
}


/* When a screen is 992px or smaller, the background color will be pink */

@media screen and (max-width: 576px) {
    body {
        font-size: 0.9em;
    }
    .subscribeForm {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 50%;
    }
    .homePageSubscribe {
        font-size: 1.2em;
        height: 50px;
    }
    .unhide {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .showImageContainer {
        background-color: lightblue;
        flex-flow: row wrap;
    }
    .showPics {
        margin-right: 0;
        margin-left: 0;
        height: 60vh;
        width: 100vw;
    }
    .showComment>p {
        margin-top: 2vh;
        font-size: 2em;
        margin-left: 2vh;
    }
    .commentImg {
        margin-top: 1vh;
        height: 3rem;
        width: 3rem;
    }
    .commentFont {
        font-size: 5rem;
    }
    .commentInput {
        width: 100%;
    }
}

.form__login__logo {
    margin-left: 40%;
}

.styleForm>h4 {
    font-weight: 200;
}

.profileImg {
    vertical-align: middle;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

.changeProfileDisplay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.changeProfileButton {
    height: auto;
    width: auto;
    background-color: green;
    color: whitesmoke;
    margin-top: 1vh;
}

.postFont {
    font-size: 2vh;
    color: #000066;
    font-family: "Playfair Display", serif;
    font-weight: 800;
}

.showImageContainer {
    display: flex;
    margin-top: 5vh;
    flex-flow: row;
}

.showPics {
    margin-right: 2vh;
    margin-left: 2vh;
    height: 80vh;
    width: 75vw;
}

.showComment {
    margin-top: 2vh;
}

.commentBox {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentImg {
    height: 5em;
    width: 5em;
}

.commentFont {
    font-size: 1.9vh;
    color: #000066;
    font-family: "Playfair Display", serif;
    flex: 2;
    margin-left: 10px;
    align-items: center;
}

.inputComment,
.submitComment {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.eventModalCancel {
    background-color: red;
    align-items: center;
}

.modal-h1 {
    font-family: "Playfair Display", serif;
}

* {
    margin: 0;
    padding: 0;
}

.myFamilyTree {
    text-align: center;
    color: blueviolet;
    text-transform: uppercase;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
}


/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%;
    height: 45px;
    z-index: -1;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}


/*We need to remove left-right connectors from elements without 
		any siblings*/

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}


/*Remove space from the top of single children*/

.tree li:only-child {
    padding-top: 0;
}


/*Remove left connector from first child and 
		right connector from last child*/

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}


/*Adding back the vertical connector to the last nodes*/

.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    transform: translateX(1px);
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}


/*Time to add downward connectors from parents*/

.tree ul ul::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 51.5%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 32px;
    z-index: -1;
}

.tree li a {
    border: 5px solid #ccc;
    padding: 10px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 17px;
    display: inline-block;
    background: white;
    height: 70px;
    border-radius: 5px;
    transition: all 0.5s;
}

.tree li a+a {
    margin-left: 20px;
    position: relative;
}

.tree li a+a::before {
    content: '';
    position: absolute;
    border-top: 1px solid #ccc;
    top: 50%;
    left: -21px;
    width: 20px;
}


/*Time for some hover effects*/


/*We will apply the hover effect the the lineage of the element also*/

.tree li a:hover,
.tree li a:hover~ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}


/*Connector styles on hover*/

.tree li a:hover~ul li::after,
.tree li a:hover~ul li::before,
.tree li a:hover~ul::before,
.tree li a:hover~ul ul::before {
    border-color: #94a0b4;
}