// .header {
//     background-image: linear-gradient(to right, 
//     rgba(0, 255, 200, 0.664), 
//     rgba(102, 255, 0, 0.377), 
//     url('/images/pic01.jpg'));
// }

.header {
      height: 100vh;
  background-image: 
  linear-gradient(
      to bottom right,  
    rgba(53, 85, 2, 0.836), 
    rgba(2, 39, 1, 0.815)),
  url('/img/gbemi_birthday/WhatsApp Image 2020-07-26 at 22.26.24.jpeg');
  background-size: cover;
  background-position: top;
  position: relative;

}


.subscribeForm{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
}