.personal__name {
    color: red;
    height: 120px;
}

.profileImg {
    vertical-align: middle;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

.postImg {
    height: 2rem;
    width: 2rem;
}

.changeProfileDisplay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.changeProfileButton {
    height: auto;
    width: auto;
    background-color: green;
    color: whitesmoke;
    margin-top: 1vh;
}

.postFont {
    font-size: 2vh;
    color: #000066;
    font-family: "Playfair Display", serif;
    font-weight: 800;
}

.commentBox {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

// .commentPics > img {
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
// }
.commentImg {
    height: 5em;
    width: 5em;
}

// .commentFont {
//   font-size: 1vh;
//   // color: #000066;
//   // font-family: "Playfair Display", serif;
//   flex: 2;
//   margin-left: 10px;
//   align-items: center;
// }
.inputComment,
.submitComment {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.eventModalCancel {
    background-color: red;
    align-items: center;
}

.modal-h1 {
    font-family: "Playfair Display", serif;
}

.likeCounter {
    padding: 10px;
    margin: 12px;
    color: red;
}


